/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Indie+Flower|Maven+Pro";


body {
    font-family: 'Maven Pro', sans-serif !important;
    background: #fafafa;
    color:#666666;
}

p {
    font-family: 'Maven Pro', sans-serif !important;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: white;
    color: #fff;
    transition: all 0.3s;
}


.nav-content {
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

/* #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
} */


#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #637EB5;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 0px 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar {
        margin-left: 0;
    }


    .chat-icons {
        padding: 7px 0px;
        font-size: 20px !important;
    }

    .emoji-picker {
       width: 245px !important ;
    }
}


#sidebarCollapse {
    background-color: #637EB5;
    color: white;
}

.btn {
   outline: none !important;
}


/*  chat css */

.header,.footer {
   padding: 20px 0px;
  }

.profile_name  {
  font-weight: bold;
   font-size: 20px;
}


.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    /*background-color: #f5886e;*/
    padding-left: 10px;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: white;
    margin-left: 20px;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message.left .text {
    color: #666666;
}

.messages .message.appeared {
    opacity: 1;
}


.messages .message.right .avatar {
    /*background-color: #fdbf68;*/
    padding-right: 10px;
    float: right;
}


.messages .message .text_wrapper .text {
    font-size: 15px;
    font-weight: 300;
}

.messages .message.right .text {
    color: white;
}


.messages .message.right .text_wrapper {
    background-color: #637EB5;
    margin-right: 20px;
    float: right;
}
.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
  /*  width: calc(100% - 85px); */
    min-width: 100px;
    position: relative;
}

.chatbox {
   background-color: #E7EAEF;
   height: calc(100vh - 140px);
   overflow-y: scroll;
}


input:focus {
    outline:none !important;
}

.chat_textfield {
    border: 1px solid #e6e6e6 !important;
    border-radius: 20px !important;
}
.chat-icons {
    font-size: 34px;
}
.chat-icons:hover {
   color: #637EB5;
}


.emoji-picker .emoji {
    padding: 16px !important;
}

.emoji-picker {
    position: absolute !important;
    bottom: 80px !important;
}

.emoji-list {
    width: 400px !important ;
}

.left-message-box {
    color: black;
    padding: 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}

.left-message-box:hover {
    color: black;
    background-color: #E7EAEF;
    /*padding: 30px 0px;*/
    border-bottom: 1px solid #e6e6e6;
}

.left-message-box p{
    font-size: 13px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#emoji_text {
   display: none;
}


.mesg-time {
   font-size: 12px;
}

.login_main {
    width: 100%;
    height: 100vh;
    display: table;
    text-align: center;
}

.login_box {
    display: table-cell;
    vertical-align: middle;
}
